pandas
scikit-learn
jupyter
newspaper3k
tavily-python
langchain-community>=0.2.11
lxml_html_clean
spacy-spanish-lemmatizer
nltk
spacy
textblob
requests
beautifulsoup4
langchain-core 
langgraph>0.2.27
langchain-openai